.main-navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2147483647;
}

.btn-icon {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}
